DerivedData/
build/
.DS_Store
xcuserdata/
*.xcuserstate
.swiftpm/
.build/
Packages/
.idea/
.vscode/
*.xccheckout
*.xcscmblueprint
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
Logs/
*.moved-aside
.Trash/
*.ipa
*.dSYM.zip
*.dSYM

